# Python
__pycache__/
*.py[cod]
*.pyo
.env

# Virtual Environment
venv/
env/

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3

# VS Code

# OS
.DS_Store
Thumbs.db

# Static and media
/staticfiles/
/media/
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
