# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Static and media
/staticfiles/
/media/
