{% extends "base.html" %}
{% load static %}
{% block content %}
	
    <!-- PAGE-TITLE-AREA -->
    <section class="page-title-area">
        <div class="page-title-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="page-title">
                            <h3>My profile</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- PAGE-TITLE-AREA:END -->
	
    <!-- BREADCRUMBS -->
    <div class="title-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="bred-title">
                        <h3>My profile</h3>
                    </div>
                    <ol class="breadcrumb">
                        <li><a href="index.html">Home</a>
                        </li>
                        <li><a href="about-us.html">My profile</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCRUMBS:END -->
	
    <!-- PERSONAL-DETAIL-AREA -->
    <section class="pessonal-detail section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="headline">
                        <h2>Personal details</h2>
                    </div>
    
                    <form method="POST">
                        {% csrf_token %}
                        <div class="personal-form">
                            <div class="userleft">
                                Firstname <br>
                                {{ form.first_name }} <br>
                                Email <br>
                                {{ form.email }} <br>
                                Address <br>
                                {{ form.address }} <br>
                                Country <br>
                                {{ form.country }} <br>
                            </div>
    
                            <div class="userright">
                                Lastname <br>
                                {{ form.last_name }} <br>
                                Phone <br>
                                {{ form.phone }} <br>
                                City <br>
                                {{ form.city }} <br>
                                ZIP Code <br>
                                {{ form.post_code }} <br>
                            </div>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
        </section>
    <!-- PERSONAL-DETAIL-AREA:END   -->
	
    <!-- CHANGE-PASSWORD-AREA   -->
    <section class="password-change">
        <div class="container">
            <div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
                <div class="headline">
                    <h2>Change your password</h2>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="change-form">
                        <form method="POST">
                            {% csrf_token %}
                            Old Password <br>
                            <input type="password" name="old_password"> <br>
                            New Password <br>
                            <input type="password" name="password1"> <br>
                            Repeat New Password <br>
                            <input type="password" name="password2"> <br>
                            <br>
                            <button type="submit" class="btn btn-default">Save changes</button>
                        </form>
   
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>
    <!-- CHANGE-PASSWORD-AREA:END -->

{% endblock %}